
.aqContainer {
  width: 500px;
  height: auto;
  padding: 20px;
  background-color: black;
  border-radius: 12px;
  color: white;
  margin-top: 30px;
  align-content: center;
  margin:auto;

}



.aqContainer H1 {
  text-align: center;
  margin-top: 5px;
  color:green;
}

.aqContainer label {
  font-size: 25px;
  margin-left: 40%;
}



.aqContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  background-color: green;
  border: auto;
  color:white;
  margin-left: 40%;
}

input, 
textarea {
  margin-top: 5px;
  width: 100%;
}

