.askQuestionPage {

  width: 100%;
  height: calc(100vh - 80vh);
  display: grid;
  place-items: center;
  margin-bottom: 50px;
}

.aqContainer {
  width: 700px;
  height: auto;
  padding: 20px;
  background-color: black;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;

}



.aqContainer H1 {
  text-align: center;
  margin-top: 5px;
}

.aqContainer label {
  font-size: 25px;
}



.aqContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

input, 
textarea {
  margin-top: 5px;
  width: 100%;
}

